.footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  background: mediumseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contacts{
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .social-media{
    margin-top: 10px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .social-media-link{
      margin-right: 10px;
    }
  }
  .copyright{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}